{% extends "base.html" %}
{% block content %}
{% load ask_extras %}.

<h1>ASK: Seznam tabulek</h1>
<ul>
    {% for tbl in tables %}
        <li>
            <a href="?table={{ tbl }}">{{ tbl }}</a>
        </li>
    {% endfor %}
</ul>
{% if structure %}
    <h2>Struktura tabulky: {{ table_name }}</h2>
    <form method="post">
    {% csrf_token %}
    <table border="1" cellpadding="4" style="background:#111; color:#EDEDED;">
        <tr>
            <th>ID</th>
            <th>Jméno</th>
            <th>Typ</th>
            <th>Vybrat</th>
            <th>Hodnota</th>
        </tr>
        {% for col in structure %}
        <tr>
            <td>{{ col.0 }}</td>
            <td>{{ col.1 }}</td>
            <td>{{ col.2 }}</td>
            <td><input type="checkbox" name="select_{{ col.1 }}"></td>
            <td>
                {% if col.2 == "INTEGER" %}
                    <input type="number" name="value_{{ col.1 }}">
                {% elif col.2 == "REAL" %}
                    <input type="number" step="any" name="value_{{ col.1 }}">
                {% else %}
                    <input type="text" name="value_{{ col.1 }}">
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <button type="submit">Vytvoř ANSWER</button>
    </form>
{% endif %}

{% if answer_columns and answer_rows %}
    <h2>Tabulka ANSWER</h2>
    <table border="1" cellpadding="4" style="background:#111; color:#EDEDED;">
        <tr>
            {% for col in answer_columns %}
                <th>{{ col }}</th>
            {% endfor %}
        </tr>
        {% for row in answer_rows %}
        <tr>
            {% for cell in row %}
                <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

<form method="post">
    {% csrf_token %}
    {% for col in answer_columns %}
        <input type="hidden" name="select_{{ col }}" value="on">
        <input type="hidden" name="value_{{ col }}" value="{{ request.POST|get_value:col }}">
    {% endfor %}
    <label>Zvol název pro uložení:</label>
    <input type="text" name="save_name" required>
    <button type="submit" name="save_answer">Uložit answer</button>
</form>

    {% if save_msg %}
        <p style="color:yellow;">{{ save_msg }}</p>
    {% endif %}
{% endif %}



{% endblock %}
