{% extends "base.html" %}
{% block content %}
<h1>Create Table</h1>
<form method="post">
    {% csrf_token %}
    <label>Table Name:</label>
    <input type="text" name="table_name" required><br><br>
    <table>
        <tr>
            <th>Field Name</th>
            <th>Data Type</th>
        </tr>
        {% for i in range %}
        <tr>
            <td><input type="text" name="field_name_{{i}}" ></td>
            <td>
                <select name="field_type_{{i}}">
                    <option value="">---</option>
                    <option value="INTEGER">INTEGER</option>
                    <option value="TEXT">TEXT</option>
                    <option value="REAL">REAL</option>
                    <option value="BLOB">BLOB</option>
                </select>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <button type="submit">Create Table</button>
</form>
{% if msg %}
<p style="color:yellow;">{{ msg }}</p>
{% endif %}
{% endblock %}